@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge, Opera */
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer */
    scrollbar-width: none; /* Firefox */
  }
}
/* 
@media (max-width: 425px) {
  :root {
    font-size: 10px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  :root {
    font-size: 16px;
  }
} */